#
# Ignoring glue directories & files except
# plugin-instance and plugins json files
#
.glue/internals
!.glue/internals/plugin-instances.json
!.glue/internals/plugin.json
.glue/__generated__

# Ignoring others
node_modules
.next
package-lock.json
yarn.lock
build/

# Internal testing files
test.js
